<div>
    <table>
        <thead>
            <tr>
                <th>数字</th>
                <th>字母</th>
                <th>文字</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>1</td>
                <td>A</td>
                <td>壹</td>
            </tr>

            <tr>
                <td>2</td>
                <td>B</td>
                <td>贰</td>
            </tr>

            <tr>
                <td>3</td>
                <td>C</td>
                <td>叁</td>
            </tr>
        </tbody>
    </table>
</div>